  
 
  @font-face { 
    font-family: SeafordBold; 
    src: url(./font/SeafordBold.ttf); 
    font-weight: normal; 
    }    
    
  @font-face { 
    font-family: SeafordRg; 
    src: url(./font/SeafordRg.ttf); 
    font-weight: normal; 
    }

 h1 {
    color: navy;
    font-family: 'SeafordBold';
    text-align: center;
  }

  h2 {
    font-family: SeafordRg;
    color: navy;
}

  p.myP{
    color: brown;
    text-align: justify;
   text-justify: inter-word;
  }

  p{
    font-family: SeafordRg;
    color: black;
  }

  p.myP:hover{background-color: #ddd;}


 body {
        font-family: SeafordRg;
        background-color:white;
      }



td {
    text-align: center;
  }




  ol:hover{background-color: #ddd;}

ul:hover{background-color: #ddd;}

ol { 
    list-style: none; 
    counter-reset: num; 
} 

ol li { 
    counter-increment: num; 
}  
  ol li::before { 
    content:counter(num) "."; 
    color: blue;     
} 


table {
  font-family: SeafordRg;
  border-collapse: collapse;
  width: 60%;
  margin: auto;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) { background-color: #f2f2f2; }

table tr:hover { background-color: #ddd; }

table th {
  background-color: grey;
  color: white;
}

  label { display: inline-block; width: 100px; text-align: right; }

  #header {
  background-color: navy;
  color: white;
  text-align: center;
  padding: 40px 10px;
}

#header h1 {
  color: white;
  margin: 0;
}

#content {
  width: 1000px;
  margin: auto;
  padding: 30px 0;
}

#content > div {
  background: #ffffff;
  padding: 20px;
  margin-bottom: 25px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

#footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

#footer a {
  color: lightblue;
}